*.aux
*.log
*.out
*.synctex.gz
*.lof
*.lot
*.toc
*.fls
*.fdb_latexmk
spring_2026/user_manual/user_manual.pdf
.obsidian
.lock*
*.lock
**/build/
**/.vscode/
**/managed_components/
**/littlefs_dump.bin
wireless_testing_scripts/flight_log.csv
**/.cache/
__pycache__/
